@{
    ViewData["Title"] = "GSAK Macro";
}

<h2>@ViewBag.Title</h2>

<div>
    <button type="button" class="btn btn-success" onclick="uploadGSAKMacro()"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Html.T("Upload GSAK Macro")</button>
    <input id="fileupload" type="file" name="file" accept=".gsk">
    <a href="@Url.Action("Debug", "GSAKMacro")" target="_blank">@Html.T("Open new debugger")</a>
</div>

<div id="gsakMacroList"></div>

<div class="modal fade" id="macroRunningDialog" tabindex="-1" role="dialog" aria-labelledby="macroRunningDialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="macroRunningDialogMessage">@Html.T("Macro is running")</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="msgOkDialog" tabindex="-1" role="dialog" aria-labelledby="msgOkDialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="msgOKDialog()"><span aria-hidden="true">&times;</span><span class="sr-only">@Html.T("Close")</span></button>
                <h4 class="modal-title" id="msgOkDialogTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="msgOkDialogMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="msgOkDialogButton" class="btn btn-danger" data-dismiss="modal" onclick="msgOKDialog()">@Html.T("OK")</button>
            </div>
        </div>
    </div>
</div>


<script>
    var macroHub;

    gsakMacroList = new pagedList.PagedList("#gsakMacroList", "@Url.Action("GetGSAKMacros", "GSAKMacro", new { area = "GAPPOnline" })");
    gsakMacroList.pageSize = 50;
    gsakMacroList.addColumn("@Html.T("Name")")
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.FileName); });
    gsakMacroList.addColumn("@Html.T("Author")")
        .itemToHtml(function (item) { return htmlEncode(item.Author); });
    gsakMacroList.addButton("Run", "@Html.T("Run")", "btn btn-primary btn-xs")
        .onclick(function (item) { runMacro(item); })
        .showIf(function (item) { return true; });


    function runMacro(item) {
        macroHub.server.RunMacro(SessionInfo.UserGuid, item.FileName);
    }

    function uploadGSAKMacro() {
        $("#fileupload").trigger("click");
    }

    function msgOKDialog() {
        macroHub.server.MsgOKResult();
    }

    $(function () {
        macroHub = $.connection.GSAKMacroHub;

        macroHub.client.MsgOK = function (text, caption) {
            $('#msgOkDialogTitle').text(caption);
            $('#msgOkDialogMessage').text(text);
            $("#msgOkDialog").appendTo('body').modal();
        };

        macroHub.client.macroIsStarted = function () {
            $("#macroRunningDialog").appendTo('body').modal({ show: true, backdrop: 'static', keyboard: false });
        };
        macroHub.client.macroIsFinished = function () {
            window.location.reload(true);
        };

        var fileName = "";

        $('#fileupload').fileupload({
            url: '@Url.Action("UploadGSAKMacro", "GSAKMacro", new { area = "GAPPOnline" })',
            autoUpload: true,
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css('width', progress + '%');
            },
        });
        $('#fileupload').bind('fileuploadadd', function (e, data) {
            $.each(data.files, function (index, file) {
                fileName = file.name;
            });
            data.submit();
        });
        $('#fileupload').bind('fileuploadsubmit', function (e, data) {
            // The example input, doesn't have to be part of the upload form:
            data.formData = {
                filename: fileName
                };
            return true;
        });
        $('#fileupload').bind('fileuploadstart', function (e) {
            // The example input, doesn't have to be part of the upload form:
            $('#dialog-fileupload').appendTo('body').modal({ "backdrop": "static", "keyboard": false });
            return true;
        });
        $('#fileupload').bind('fileuploadstop', function (e) {
            // The example input, doesn't have to be part of the upload form:
            $('#dialog-fileupload').modal('hide');
            return true;
        });
        $('#fileupload').hide();

        SignalR.registerOnServer();
        SignalR.registerOnClient(["GSAKMacro", "UserSessionInfo"], function () {
            gsakMacroList.refresh();
        });
        gsakMacroList.refresh();
    });

</script>