@{
    ViewData["Title"] = "Dashboard";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.T("GSAK databases")</h3>
            </div>
            <div class="panel-body">
                <div id="gsakDatabaseList"></div>
            </div>
            <div class="panel-footer">
            Panel footer
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.T("Views")</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>

<script>

    gsakDatabaseList = new pagedList.PagedList("#gsakDatabaseList", "@Url.Action("GetGSAKDatabases", "Home", new { area = "GAPPOnline" })");
    gsakDatabaseList.addColumn("@Html.T("Name")")
        .enableFilter()
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.Name); });

    $(function () {
        gsakDatabaseList.refresh();
    });

</script>