@{
    ViewData["Title"] = "Geocache list";
}

<h2>@ViewBag.Title</h2>

<div id="gsakGeocacheList"></div>

<script>
    gsakGeocacheList = new pagedList.PagedList("#gsakGeocacheList", "@Url.Action("GetGeocaches", "GSAKCacheList", new { area = "GAPPOnline" })");
    gsakGeocacheList.rowStyles(function (item) {
        var styles = ""
        //font style
        if (item.Status=='X') {
            styles = "text-decoration: line-through;";
        }
        else if (item.Status == 'T') {
            styles = "font-style: italic;";
        }
        //background color
        if (item.Code == SessionInfo.ActiveGCCode) {
            styles = "background-color: LightCyan;";
        }
        else if (item.Found == 1) {
            styles = "background-color: Aquamarine;";
        }
        return styles;
    });
    gsakGeocacheList.pageSize = 50;
    gsakGeocacheList.addColumn('')
        .itemToElement(function (item) {
        var element = document.createElement('i');
        element.setAttribute('class', 'glyphicon glyphicon-hand-right');
        element.setAttribute('style', 'vertical-align:middle;cursor:pointer;');
        $(element).click(function (event) {
            $.post("@Url.Action("SetActiveGeocache", "GSAKCacheList")", { gcCode: item.Code });
        });
        return element;
        });
    gsakGeocacheList.addColumn("@Html.T("Code")")
        .enableFilter()
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.Code); });
    gsakGeocacheList.addColumn('<img src="/images/cachetypes/2.gif" width="24" height="24" />')
        .itemToHtml(function (item) { return '<img src="/images/cachetypes/' + item.GCComCacheType + '.gif" width="24" height="24" />'; });
    gsakGeocacheList.addColumn('<i class="glyphicon glyphicon-tag" style="vertical-align:middle"></i>')
        .itemToHtml(function (item) { return (item.HasTravelBug == 1) ? '<i class="glyphicon glyphicon-tag" style="vertical-align:middle"></i>' : ''; });
    gsakGeocacheList.addColumn('<i class="glyphicon glyphicon-flag" style="vertical-align:middle"></i>')
        .itemToElement(function (item) {
        var element = document.createElement('input');
        element.type = 'checkbox';
        if (item.UserFlag == 1) {
            element.setAttribute('checked', 'checked');
        }
        element.name = 'userflag';
        $(element).change(function (event) {
            $.post("@Url.Action("SetUserFlag", "GSAKCacheList")", { gcCode: item.Code, value: element.checked });
        });
        return element;
    });
    gsakGeocacheList.addColumn("@Html.T("Name")")
        .enableFilter()
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.Name); });
    gsakGeocacheList.addColumn("@Html.T("Kms")")
        .enableSort()
        .itemToHtml(function (item) { return 'todo'; });
    gsakGeocacheList.addColumn("@Html.T("Owner")")
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.OwnerName); });
    gsakGeocacheList.addColumn("@Html.T("Placed")")
        .enableSort()
        .itemToHtml(function (item) { return htmlEncode(item.PlacedDate); });
    gsakGeocacheList.addColumn("@Html.T("Container")")
        .enableSort()
        .itemToHtml(function (item) { return '<img src="/images/container/' + item.GCComContainer + '.gif" />'; });
    gsakGeocacheList.addColumn("@Html.T("D")")
        .enableSort()
        .itemToHtml(function (item) { return item.Difficulty.toFixed(1); });
    gsakGeocacheList.addColumn("@Html.T("T")")
        .enableSort()
        .itemToHtml(function (item) { return item.Terrain.toFixed(1); });

    $(function () {
        SignalR.registerOnServer();
        SignalR.registerOnClient(["UserSessionInfo", "GSAKDatabase"], function () {
            gsakGeocacheList.refresh();
        });
        gsakGeocacheList.refresh();
    });


</script>